*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}
.a1{
    color: #ffffff;
    text-decoration: none;
}
.a1:hover{
    color: #ffffff;
    text-decoration: none;
}
.a1:active{
    color: #ffffff;
    text-decoration: none;
}
nav{
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
}
.nav-1{
    width: 100%;
    height: 120px;
    position: fixed;z-index: 99;
}
.nav-1-s{
    height: 60px;
    display: none;
}
.nav-1:hover{
    background-color: #4C2A1DD1 ;
}
.logo-1-1{
    height: 60px;
    width: 160px;
    background-image: url(../image/LOGO.png);
    background-size: cover;
    position: absolute;
    top: 30px;left: 30px;
}
.menu-1-1{
    color:#ffffff;
    display: flex;
    position: absolute;
    left: 38vw;top: 50px;
}
.item-1{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.item-1-1{
    height: 12px;
    width: 15px;
    background-size: cover;
    margin-right: 5px;
}
.item-1-1-1{
    background-image: url(../image/Icon-material-home.png);
}
.item-1-1-2{
    background-image: url(../image/Icon-awesome-shopping-cart.png);
}
.item-1-1-3{
    background-image: url(../image/Icon-material-find-in-page.png);
    width: 10px;
    height: 12px;
}
.item-1-1-4{
    background-image: url(../image/Icon-awesome-blog.png);
    width: 12px;
    height: 12px;
}
.item-1-1-5{
    background-image: url(../image/Icon-material-mail.png);
}
.icon_menu-1-1{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;top: 50px;
}
.icon{
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 20px;
    cursor: pointer;
}
.icon-1-1{
    background-image: url(../image/Icon-awesome-search.png);
}
.icon-1-2{
    background-image: url(../image/Icon-feather-shopping-cart.png);
}
.icon-1-3{
    background-image: url(../image/Icon-ionic-ios-contact.png);
}
.icon-1-4{
    background-image: url(../image/Icon-feather-settings.png);
}
.burgerMenu{
    position: absolute;
    width: 30px;
    left: 30px;top: 10px;
    display: none;
}
.line{
    height: 3px;
    margin: 7.5px 0;
    background-color: #ffffff;
}
.pc-banner{
    display: block;
}
.mobile-banner{
    display: none;
}

@media(max-width:1400px){
    .nav-1{
        height: 60px;
    }
    .logo-1-1{
        height: 40px;
        width: 106px;
        background-image: url(../image/LOGO.png);
        background-size: cover;
        position: absolute;
        top: 10px;left: 30px;
    }
    .menu-1-1{
        color:#ffffff;
        display: flex;
        position: absolute;
        left: 38vw;top: 20px;
    }
    .icon_menu-1-1{
        display: flex;
        align-items: center;
        position: absolute;
        right: 0px;top: 20px;
    }
}
@media(max-width:1024px){
    .pc-nav{
        display: none;
    }
    .logo-1-1{
        left:44vw
    }
    .burgerMenu{
        display: block;
    }
    .nav-1{
        background-color: #4C2A1D;
    }
}
@media(max-width:414px){
    .logo-1-1{
        left:36vw
    }
    .pc-banner{
        display: none;
    }
    .mobile-banner{
        display: block;
    }
    .icon-1-2{
        display: none;
    }
    .icon-1-4{
        display: none;
    }
}
@media(max-width:350px){
    .logo-1-1{
        left: 30%;
    }
    .burgerMenu{
        left: 20px;
    }
}